<!-- <div class="mb-3">
    <input
        [class.is-invalid]="ngControl.touched "
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm Password">
    <div *ngIf="registerForm.get('confirmPassword').hasError('confirmPassword')" class="invalid-feedback">Please enter a confirm password</div>
    <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">Confirm password must match password</div>
</div> -->
